table {
    border-spacing: 0;
}

tr {
    border-collapse: collapse;
}
td {
    border: 1px solid gray;
    text-align: center;
}
td:nth-child(1) {
    width: 1em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
td:nth-child(2) {
    background-color: #FF9696;
}
td:nth-child(3) {
    background-color: #FF9696;
}
td:nth-child(4) {
    background-color: #FF9696;
}
td:nth-child(5) {
    background-color: #9696FF;
}
td:nth-child(6) {
    background-color: #9696FF;
}
td:nth-child(7) {
    background-color: #9696FF;
}