table {
    border-spacing: 0;
    font: 32px "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

tr {
    border-collapse: collapse;
}
td {
    border: 0.5px solid #C8C8C8;
    text-align: center;
    padding: 0em 0.5em 0em 0.5em;
}
tr:nth-child(1) {
    font-style: italic;
}
td:nth-child(1) {
    width: 1em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
td:nth-child(2) {
    background-color: #FF9696;
}
td:nth-child(3) {
    background-color: #FF9696;
}
td:nth-child(4) {
    background-color: #FF9696;
}
td:nth-child(5) {
    background-color: #9696FF;
}
td:nth-child(6) {
    background-color: #9696FF;
}
td:nth-child(7) {
    background-color: #9696FF;
}

.loader {
	border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid blue; /* Blue */
	border-bottom: 5px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
	 0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}