body {
	background: #80e5ff;
	text-align: center;
}
#titleHeader {
	text-align: center;
	font: 40px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
form {
}
#teamNumLabel {
	font: 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 800;
}
#teamNumEntry {
	font: 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	text-align: center;
	width: 75px;
	height: 25px;
	border: none;
	background-color: #E6E6E6;
	
	display: inline-block;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
select {
	margin: 50px;
	background: transparent;
	width: 300px;
	padding: 5px 35px 5px 5px;
	font-size: 16px;
	color: white;
	border: 1px solid #7BB3EA;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(dropArrow.ico) 96% / 15% no-repeat #2380DC;
	background-size: 20px auto;
	
	display: inline-block;
} 
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) { 
	select {
		background:none;
		padding: 5px;
	}
}
option {
	background-color: white;
	color: black;
	font: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
option:hover {
	background-color: #999999;
	color: black;
}

#submitButton {
	margin: 50px;
	border: 1px solid #111;
	background: #2380DC;
	width: 180px;
	padding: 5px 35px 5px 5px;
	font-size: 16px;
	text-align: center;
	color: white;
	border: 1px solid #7BB3EA;
	height: 34px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(first.ico) 96% / 15% no-repeat #2380DC;
	
	margin: auto;
	
	display: block;
}
#errorDiv {
	text-align: center;
	border: 2px solid black;
	background-color: white;
	opacity: 0.8;
	filter: alpha(opacity=60);
	margin: 100px;
	width: auto;
	
	/*display: none;*/
}

.errorMessage {
	color: red;
	font-weight: 600;
	font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	display: none;
	margin: 10px 10px 10px 10px;

}

#footnotes {
	position: fixed;
	opacity: 40%;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 75px;
	font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	display: table;
	font-weight: 600;
	background-color: #80e5ff; 
	
	border-top: solid 3px #B3B3B3;
}
#devInfo {
	vertical-align: middle;
	display: table-cell;
}
#loadingDiv {
	position: fixed;
	bottom: 5px;
	right: 5px;
	vertical-align: middle;
	display: table-cell;
	bottom: 15px;
}
#loaderContainer {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	padding: 10px 10px 10px 10px;
}
#loader {
	border: 4px solid #f3f3f3;
    border-top: 4px solid blue;
	border-bottom: 4px solid red;
    border-radius: 50%;
    width: 12px;
    height: 10px;
    animation: spin 2s linear infinite;
	
	display: inline-block;
}
@keyframes spin {
	 0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#loadingText {
	vertical-align: middle;
	display: table-cell;
}
